@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

.container {
  width: 100%;
  height: 100%;
}

.app {
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: relative;
  font-family: "Merriweather Sans", sans-serif;
  color: white;
  transition-duration: 1s;
  overflow: hidden;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 10rem;
  top: 61rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
  overflow: hidden;
  padding: .2rem;
}

.search-input > input {
  font-size: 2.5rem;
  width: 39.5rem;
  font-size: 4.0rem;
  padding: .5rem;
  border: none;
  outline: none;
  color: white;
  background: transparent;
}

.search-input > input::placeholder {
  color: white;
}

.search-button {
  cursor: pointer;
  transform: scale(1.2);
  margin-right: 1.0rem;
}

.search-button:hover {
  transform: scale(1.4);
}

.weather-container > h2 {
  position: absolute;
  font-size: 6.4rem;
  left: 6.3rem;
  top: 77.0rem;
}

.top-part {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left: 6.3rem;
  top: 47.3rem;
}

.top-part > h1 {
  font-size: 18rem;
}

.condition-high-low {
  margin-left: 2rem;
}

.condition-high-low > h1:nth-of-type(1) {
  font-size: 6.4rem;
}

.condition-high-low > h1:nth-of-type(2),
h1:nth-of-type(3) {
  font-size: 3.6rem;
}
